@use './reset';

.container {
  padding: 0.5rem;
  margin: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    margin: 0 16px 0 0;
    width: 32px;
  }
}

.wrapper {
  padding: 0;
  display: block;
  height: 100%;
  width: 100%;
}

.main {
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: calc(100vh - 32px - 1rem);
}
